target
build
.maven
.gradle
eclipse-collections-kata-parent.userlibraries
eclipse-collections-kata.userlibraries
eclipse-collections-kata.iml
pet-kata/pet-kata.iml
company-kata/company-kata.iml
gradle.prefs
.idea
bin
.settings
.classpath
.project
